* {
	font-family: "Oswald", sans-serif;
}

.img-holder {
	text-align: center;
}

.titles-holder {
	text-align: center;
}

.text-holder {
	text-align: justify;
	width: 80%;
	margin: 5% 10%;
}

.main-img {
	width: 40vw;
}

.titles-holder h3 {
	line-height: 5px;
	font-weight: 400;
}

.text-holder p {
	
}

@media (max-width: 768px) {
	.main-img {
		width: 80vw;
	}

	.text-holder {
		width: 90%;
		margin: 5% 5%;
	}
}
